body{
    background-color: blueviolet;
    overflow: hidden;
}
h1{
    border: green dotted 5px;
    padding: 10px;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 90%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 90%;
    text-align: center;
    background-color: rgb(37, 253, 91);
    color: white;
}
h2{
    text-align: center;
    color: white;
}
#bilde1 {
    margin: 10px;
}
#okbtn {
    cursor: pointer;
    font-size: 25px;
    border-radius: 5px;
}
#cookibtns {
    text-align: center;
}
#avsluttbtn {
    cursor: pointer;
    font-size: 25px;
    border-radius: 5px;
}

#quizbtn{
    font-size: 25px;
    border-radius: 5px;
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 10px;
}
#navn {
    text-align: center;
}