button{
    cursor: pointer;
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: black;
    position: relative;
    overflow: hidden;
}
.fogp{
    position: fixed;
    bottom: 40px;
    right: 80px;
}
.spm{
    width: 100%;
    position: absolute;
    text-align: center;
}
body{
    background-color: #fffef2;
}
h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #009688;
}
.arg{
    background: #009688;
    width: 0;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0%;
    z-index: -1;
    transition: 0.5s;
}
button:hover .arg{
    width: 100%;
}
button:hover{
    border:none;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
