.grid-container {
    height: calc(100vh - 128px);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    padding: 10px;
    grid-template-areas: "a b"
    "c d";
}
#grid_a { grid-area: a;}
#grid_b { grid-area: b;}
#grid_c { grid-area: c;}
#grid_d { grid-area: d;}
.mini_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-template-areas: "a a"
                         "b c"
                         "b c"
                         "b c"
                         "d c"
                         "d c"
                         "d c";
}
.mini_a { 
    grid-area: a;
    background-color: blueviolet;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.mini_b {
    grid-area: b;
    background-color: blue;
}
.mini_c { grid-area: c;
background-color: aqua;
padding: 10px;
border-bottom-right-radius: 10px;
}
.mini_d {
    grid-area: d;
    background-color: rgb(255, 38, 38);
    border-bottom-left-radius: 10px;
}
.grid-container > div {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.mini_grid > div {
    padding: 5px;}
  