
.grid-container {
    display: grid;
    grid-template-rows: repeat(11,90px);
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    grid-template-areas: "a a a b b b"
    "a a a b b b "
    "a a a b b b "
    "a a a b b b "
    "a a a g g g "
    "c c c c c c "
    "d d e e f f"
    "d d e e f f"
    "d d e e f f"
    "d d e e f f"
    "d d e e f f";
}
.mini_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(9,1fr);
    grid-template-areas: "a a"
                         "b c"
                         "b c"
                         "b c"
                         "b c"
                         "d c"
                         "d c"
                         "d c"
                         "d c";
}
#grid_a { grid-area: a;}
#grid_b { grid-area: b;}
#grid_c { grid-area: c; padding: 10px; text-align: center;}
#grid_d { grid-area: d;}
#grid_e { grid-area: e;}
#grid_f { grid-area: f;}
#grid_g { grid-area: g; padding: 10px; text-align: center;}
.mini_a { 
    grid-area: a;
    background-color: blueviolet;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    
}

.mini_b {
    grid-area: b;
    background-color: blue;
}
.mini_c { grid-area: c;
background-color: aqua;
padding: 10px;
border-bottom-right-radius: 10px;
}
.mini_d {
    grid-area: d;
    background-color: rgb(255, 38, 38);
    border-bottom-left-radius: 10px;
}
.grid-container > div {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.mini_grid > div {
    padding: 5px;}
