.black {
    background-color: rgb(31, 30, 33);
}


body{
    margin: 0;
    padding: 0;
    }

@media only screen and (max-device-width: 480px) {

.headline-easy {
    display: block;
    text-align: center;
    padding: 50px 30px 20px;
    font-size: 42px;
    line-height: 1.15;
    font-family: 'Press Start 2P', cursive;
}

.headline-main {
    text-align: center;
    padding: 50px 30px 30px;
    font-size: 32px;
    line-height: 1.15;
    font-family: 'Press Start 2P', cursive;
}

.underline-main {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

.controller-img {
    display: none;
    margin: auto;
    padding-top: 10%;
    width: 80%;
    height: 10%;
}

.onep {
    display: none;
    float: left;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding-left: 12%;
    font-size: 24px;
    letter-spacing: 5px;
}

.twop {
    display: none;
    float: right;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding-right: 12%;
    font-size: 24px;
    letter-spacing: 5px;
}

.yesNO {
    display: block;
    float: right;
    margin-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    width: 100px;
    height: 50px;
    border-width: 0px;
    background-color: green;
    font-size: 18px;
    border-radius: 24px; 
    transition-duration: 0.2s;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.yesNO:hover {
    background-color: rgb(60, 128, 60);
}

.yesNO:active {
    opacity: 0.8;
}

.YESno {
    display: block;
    float: left;
    margin-left: 50px;
    width: fit-content;
    width: 100px;
    height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 0px;
    background-color: red;
    font-size: 18px;
    border-radius: 24px; 
    transition-duration: 0.2s;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.YESno:hover {
    background-color: rgb(255, 60, 60);
}

.YESno:active {
    opacity: 0.8;
}

.backhome-easy {
    display: block;
    float: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    margin-top: -405px;
    height: 36px;
    color: white;
    padding: 15px 10px 10px;
    font-family: 'Press Start 2P', cursive;
}

.backhome:hover {
    cursor:pointer;
    text-decoration: underline;
}

.backhome:active {
    opacity: 0.5;
}

.go-easy {
    display: block;
    text-align: center;
    padding: 30px 0px 50px;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}

.question {
    display: block;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.5;
    padding: 100px 0px 50px;
    font-size: 18px;
}

.answer {
    display: block;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    border-width: 0px;
    color: white;
    height: 150px;
    width: 80%;
    line-height: 1.5;
    font-size: 18px;
    border-radius: 24px;
    transition-duration: 0.2s;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.answer:active {
    opacity: 0.3;
}

.q1 {
    margin-top: 250px;
}

.black {
    background-color: rgb(39, 38, 41);
}
}

@media only screen and (min-width:768px) {
    .headline-easy {
        text-align: center;
        padding: 50px 30px 20px;
        font-size: 60px;
        line-height: 1.5;
        font-family: 'Press Start 2P', cursive;
    }
    
    .headline-main {
        text-align: center;
        padding: 50px 30px 30px;
        font-size: 50px;
        line-height: 1.15;
        font-family: 'Press Start 2P', cursive;
    }

    .underline-main {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        font-size: 18px;
    }
    
    .controller-img {
        display: block;
        margin: auto;
        padding-top: 10%;
        width: 70%;
        height: 10%;
    }
    
    .onep {
        display: block;
        float: left;
        color: white;
        font-family: 'Press Start 2P', cursive;
        padding-left: 16%;
        font-size: 34px;
        letter-spacing: 5px;
    }
    
    .twop {
        display: block;
        float: right;
        color: white;
        font-family: 'Press Start 2P', cursive;
        padding-right: 16%;
        font-size: 34px;
        letter-spacing: 5px;
    }

    .yesNO {
        display: block;
        float: right;
        margin-right: 50px;
        margin-top: 50px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 35%;
        height: 100px;
        border-width: 0px;
        background-color: green;
        font-size: 30px;
        border-radius: 24px; 
        transition-duration: 0.2s;
        cursor: pointer;
        font-family: 'Press Start 2P', cursive;
    }
    
    .yesNO:hover {
        background-color: rgb(60, 128, 60);
    }
    
    .yesNO:active {
        opacity: 0.8;
    }
    
    .YESno {
        display: block;
        float: left;
        width: fit-content;
        width: 35%;
        height: 100px;
        margin-top: 50px;
        margin-left: 50px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-width: 0px;
        background-color: red;
        font-size: 30px;
        border-radius: 24px; 
        transition-duration: 0.2s;
        cursor: pointer;
        font-family: 'Press Start 2P', cursive;
    }
    
    
    .YESno:hover {
        background-color: rgb(255, 60, 60);
    }
    
    .YESno:active {
        opacity: 0.8;
    }
    
    .backhome-easy {
        display: block;
        float: center;
        align-items: center;
        font-size: 18px;
        line-height: 16px;
        margin-top: -515px;
        height: 36px;
        color: white;
        padding: 15px 10px 10px;
        font-family: 'Press Start 2P', cursive;
    }
    
    .backhome-easy:hover {
        cursor:pointer;
        text-decoration: underline;
    }
    
    .backhome-easy:active {
        opacity: 0.5;
    }
    
    .go-easy {
        display: block;
        text-align: center;
        padding: 30px 0px 50px;
        font-size: 24px;
        font-family: 'Press Start 2P', cursive;
    }
    
    .question {
        display: block;
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        line-height: 1.5;
        padding: 100px 30px 50px;
        font-size: 30px;
    }
    
    .answer {
        display: block;
        width: fit-content;
        margin: auto;
        border-width: 0px;
        color: white;
        height: 250px;
        width: 600px;
        margin-bottom: 20px;
        line-height: 1.5;
        font-size: 28px;
        border-radius: 24px;
        transition-duration: 0.2s;
        cursor: pointer;
        font-family: 'Press Start 2P', cursive;
    }
    
    .answer:active {
        opacity: 0.3;
    }

    .q1 {
        margin-top: 420px;
    }
    }

    @media only screen and (min-width: 960px) {

        #cookies {
            color: white;
            border: 1px solid;
            width: 30%;
            height: 6vw;
            margin: auto;
            text-align: center;
            margin-top: 128px;
        }

        #cookies-btn {
            color:#555;
            padding: 3px;
            width: 50px;
        }

        #cookies-btn:hover {
            opacity: 0.8;

        }

        .headline-easy {
            text-align: center;
            padding: 50px 30px 20px;
            font-size: 60px;
            line-height: 1.5;
            margin-top: 80px;
            width: 90%;
            margin-left: 5%;
            font-family: 'Press Start 2P', cursive;
        }

        .headline-main {
            text-align: center;
            padding: 50px 30px 100px;
            font-size: 50px;
            line-height: 1.15;
            font-family: 'Press Start 2P', cursive;
        }

        .backhome-main {
            display: block;
            float: center;
            align-items: center;
            font-size: 16px;
            line-height: 16px;
            margin-top: 32px;
            height: 36px;
            color: white;
            padding: 15px 10px 10px;
            font-family: 'Press Start 2P', cursive;
        }

        .backhome-main:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .underline-main {
            text-align: center;
            font-family: 'Press Start 2P', cursive;
            font-size: 18px;
        }

        .bottomline-main {
            display: flex;
            justify-content: space-evenly;
            padding: 20px 0px 20px;
            background-color: black;
            color: white;
            font-size: 14px;
            margin-top: 510px;
            width: 100%;
            font-family: Arial;
            margin-bottom: 0px;
        }

        #bottomline-quiz {
            margin-top: 0px;
        }
        
        .imgHard {
            display: block;
            transform: rotate(90deg);
            width: 45%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 32px;
            border: 10px solid #555;
            margin-bottom: 10px;
        }

        .controller-img {
            display: none;
            margin: auto;
            padding-top: 10%;
            width: 50%;
            height: 10%;
        }
        
        .onep {
            display: none;
            float: left;
            color: white;
            font-family: 'Press Start 2P', cursive;
            padding-left: 25%;
            font-size: 34px;
            letter-spacing: 5px;
        }
        
        .twop {
            display: none;
            float: right;
            color: white;
            font-family: 'Press Start 2P', cursive;
            padding-right: 25%;
            font-size: 34px;
            letter-spacing: 5px;
        }
        
        .yesNO {
            display: block;
            float: right;
            margin-top: 100px;
            margin-right: 250px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 16px;
            width: 300px;
            height: 100px;
            border-width: 0px;
            background-color: green;
            font-size: 36px;
            border-radius: 24px; 
            transition-duration: 0.2s;
            cursor: pointer;
            font-family: 'Press Start 2P', cursive;
        }
        
        .yesNO:hover {
            background-color: rgb(60, 128, 60);
        }
        
        .yesNO:active {
            opacity: 0.8;
        }
        
        .YESno {
            display: block;
            float: left;
            margin-top: 100px;
            margin-left: 250px;
            width: 300px;
            height: 100px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-width: 0px;
            background-color: red;
            font-size: 36px;
            border-radius: 24px; 
            transition-duration: 0.2s;
            cursor: pointer;
            font-family: 'Press Start 2P', cursive;
        }
        
        .YESno:hover {
            background-color: rgb(255, 60, 60);
        }
        
        .YESno:active {
            opacity: 0.8;
        }
        
        .backhome-easy {
            display: block;
            float: center;
            align-items: center;
            font-size: 24px;
            line-height: 16px;
            margin-top: -470px;
            height: 36px;
            color: white;
            padding: 15px 10px 10px;
            font-family: 'Press Start 2P', cursive;
        }
        
        .backhome-easy:hover {
            cursor:pointer;
            text-decoration: underline;
        }
        
        .backhome-easy:active {
            opacity: 0.5;
        }

        #bottom-backhome {
            display: block;
            margin: auto;
            font-size: 18px;
            padding: auto;
            text-align: center;
        }

        #divScore {
            display: inline-block;
            margin-left: 17%;
        }

        #divScoreCountEasy {
            display: inline-block;
            margin: 0px;
        }

        #bottom-anotherOne {
                display: block;
                margin: auto;
                font-size: 18px;
                padding: auto;
                text-align: right;
        }
        
        #divAnotherOneEasy {
            display: inline-block;
            margin-left: 21%;
            margin-bottom: 40px;
        }

        #divBottomBackhomeEasy {
            display: inline-block;
            margin-right: 17%;
            margin-bottom: 40px;
            margin-top: 40px;
        }

        .go-easy {
            display: block;
            text-align: center;
            padding: 30px 0px 50px;
            width: 60%;
            margin-left: 20%;
            font-size: 28px;
            font-family: 'Press Start 2P', cursive;
        }
        
        .question {
            display: block;
            text-align: center;
            font-family: 'Press Start 2P', cursive;
            line-height: 1.5;
            padding: 100px 0px 20px;
            font-size: 28px;
        }
        
        .answer {
            display: inline;
            width: fit-content;
            margin: auto;
            border-width: 0px;
            color: white;
            height: 100px;
            margin-left: 5%;
            width: 90%;
            margin-bottom: 20px;
            line-height: 1.5;
            font-size: 18px;
            border-radius: 24px;
            transition-duration: 0.2s;
            cursor: pointer;
            font-family: 'Press Start 2P', cursive;
        }
        
        .answer:hover {
            opacity: 0.7;
        }

        .answer:active {
            opacity: 0.3;
        }

        .score {
            display: block;
            font-size: 18px;
            color: white;
            font-family: 'Press Start 2P', cursive;
        }

        .scoreCountEasy {
            display: block;
            font-size: 18px;
            color: white;
            font-family: 'Press Start 2P', cursive;
        }

        .scoreCountHard {
            display: block;
            color: white;
            font-family: 'Press Start 2P', cursive;
        }
    
        .q1 {
            margin-top: 420px;
        }
    }

    @media only screen and (min-width: 1440px) {
        .headline-easy {
            text-align: center;
            padding: 50px 30px 20px;
            font-size: 40px;
            line-height: 1.5;
            margin-top: 80px;
            font-family: 'Press Start 2P', cursive;
        }
        
        .headline-main {
            text-align: center;
            padding: 50px 30px 30px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 32px;
            line-height: 1.5;
            height: 94px;
            font-weight: 700;
            font-family: 'Press Start 2P', cursive;
        }

        .underline-main {
            text-align: center;
            font-family: 'Press Start 2P', cursive;
            font-size: 18px;
        }
        
        .controller-img {
            display: block;
            margin: auto;
            padding-top: 2%;
            width: 30%;
        }
        
        .onep {
            display: block;
            float: left;
            color: white;
            font-family: 'Press Start 2P', cursive;
            padding-left: 34%;
            font-size: 34px;
            letter-spacing: 5px;
        }
        
        .twop {
            display: block;
            float: right;
            color: white;
            font-family: 'Press Start 2P', cursive;
            padding-right: 34%;
            font-size: 34px;
            letter-spacing: 5px;
        }

        .yesNO {
            display: block;
            float: right;
            margin-top: 50px;
            margin-right: 700px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 16px;
            width: 150px;
            height: 75px;
            border-width: 0px;
            background-color: green;
            font-size: 32px;
            border-radius: 24px; 
            transition-duration: 0.2s;
            cursor: pointer;
            font-family: 'Press Start 2P', cursive;
        }
        
        .yesNO:hover {
            background-color: rgb(60, 128, 60);
        }
        
        .yesNO:active {
            opacity: 0.8;
        }
        
        .YESno {
            display: block;
            float: left;
            margin-top: 50px;
            margin-left: 700px;
            width: 150px;
            height: 75px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-width: 0px;
            background-color: red;
            font-size: 32px;
            border-radius: 24px; 
            transition-duration: 0.2s;
            cursor: pointer;
            font-family: 'Press Start 2P', cursive;
        }
        
        .YESno:hover {
            background-color: rgb(255, 60, 60);
        }
        
        .YESno:active {
            opacity: 0.8;
        }
        
        .backhome-easy {
            display: block;
            float: center;
            align-items: center;
            font-size: 24px;
            line-height: 16px;
            margin-top: -400px;
            height: 36px;
            color: white;
            padding: 15px 10px 10px;
            font-family: 'Press Start 2P', cursive;
        }
        
        .backhome-easy:hover {
            cursor:pointer;
            text-decoration: underline;
        }
        
        .backhome-easy:active {
            opacity: 0.5;
        }
        
        .go-easy {
            display: block;
            text-align: center;
            padding: 100px 0px 30px;
            margin-top: 50px;
            font-size: 20px;
            font-family: 'Press Start 2P', cursive;
        }
        
        .question {
            display: block;
            text-align: center;
            font-family: 'Press Start 2P', cursive;
            line-height: 1.5;
            padding: 50px 50px 50px;
            font-size: 26px;
        }
        
        .answer {
            display: block;
            width: fit-content;
            margin: auto;
            border-width: 0px;
            color: white;
            height: 250px;
            width: 50%;
            margin-bottom: 20px;
            line-height: 1.5;
            font-size: 20px;
            border-radius: 24px;
            transition-duration: 0.2s;
            cursor: pointer;
            font-family: 'Press Start 2P', cursive;
        }

        .answer:hover {
            opacity: 0.7;
        }
        
        .answer:active {
            opacity: 0.3;
        }
    
        .q1 {
            margin-top: 450px;
        }
    }

    @media only screen and (min-width: 2000px) {
        .headline-easy {
            text-align: center;
            padding: 50px 30px 20px;
            font-size: 32px;
            line-height: 1.5;
            margin-top: 80px;
            font-family: 'Press Start 2P', cursive;
        }
        
        .headline-main {
            text-align: center;
            padding: 50px 30px 30px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 32px;
            line-height: 1.5;
            height: 94px;
            font-weight: 700;
            font-family: 'Press Start 2P', cursive;
        }

        .underline-main {
            text-align: center;
            font-family: 'Press Start 2P', cursive;
            font-size: 20px;
        }

        .bottomline-main {
            display: flex;
            justify-content: space-evenly;
            padding: 20px 0px 20px;
            background-color: black;
            color: white;
            font-size: 14px;
            margin-top: 510px;
            width: 100%;
            font-family: Arial;
            margin-bottom: 0px;
        }
        
        .controller-img {
            display: block;
            margin: auto;
            padding-top: 2%;
            width: 22%;
        }
        
        .onep {
            display: block;
            float: left;
            color: white;
            font-family: 'Press Start 2P', cursive;
            padding-left: 1000px;
            font-size: 34px;
            letter-spacing: 5px;
        }
        
        .twop {
            display: block;
            float: right;
            color: white;
            font-family: 'Press Start 2P', cursive;
            padding-right: 1000px;
            font-size: 34px;
            letter-spacing: 5px;
        }

        .yesNO {
            display: block;
            float: right;
            margin-top: 50px;
            margin-right: 1000px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 16px;
            width: 150px;
            height: 75px;
            border-width: 0px;
            background-color: green;
            font-size: 32px;
            border-radius: 24px; 
            transition-duration: 0.2s;
            cursor: pointer;
            font-family: 'Press Start 2P', cursive;
        }
        
        .yesNO:hover {
            background-color: rgb(60, 128, 60);
        }
        
        .yesNO:active {
            opacity: 0.8;
        }
        
        .YESno {
            display: block;
            float: left;
            margin-top: 50px;
            margin-left: 1000px;
            width: 150px;
            height: 75px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-width: 0px;
            background-color: red;
            font-size: 32px;
            border-radius: 24px; 
            transition-duration: 0.2s;
            cursor: pointer;
            font-family: 'Press Start 2P', cursive;
        }
        
        .YESno:hover {
            background-color: rgb(255, 60, 60);
        }
        
        .YESno:active {
            opacity: 0.8;
        }
        
        .backhome-easy {
            display: block;
            float: center;
            align-items: center;
            font-size: 24px;
            line-height: 16px;
            margin-top: -450px;
            height: 36px;
            color: white;
            padding: 15px 10px 10px;
            font-family: 'Press Start 2P', cursive;
        }
        
        .backhome-easy:hover {
            cursor:pointer;
            text-decoration: underline;
        }
        
        .backhome-easy:active {
            opacity: 0.5;
        }
        
        .go-easy {
            display: block;
            text-align: center;
            padding: 100px 0px 100px;
            margin-top: 50px;
            font-size: 22px;
            font-family: 'Press Start 2P', cursive;
        }
        
        .question {
            display: block;
            text-align: center;
            font-family: 'Press Start 2P', cursive;
            line-height: 1.5;
            padding: 50px 50px 50px;
            font-size: 26px;
        }
        
        .answer {
            display: block;
            width: fit-content;
            margin: auto;
            border-width: 0px;
            color: white;
            height: 250px;
            width: 50%;
            margin-bottom: 20px;
            line-height: 1.5;
            font-size: 20px;
            border-radius: 24px;
            transition-duration: 0.2s;
            cursor: pointer;
            font-family: 'Press Start 2P', cursive;
        }

        .answer:hover {
            opacity: 0.7;
        }
        
        .answer:active {
            opacity: 0.3;
        }
    
        .q1 {
            margin-top: 500px;
        }
    }