body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c5c885;
    margin: 0;
}

.boks {
    margin: 1rem;
}

#bunn {
    position: fixed;
    bottom: 0;
}

#bilder {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: row;
}

img {
    width: 100%;
    height: auto;
}