* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: white;
}

h2  {
    text-align: center;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*background: rgb(224, 207, 240); background fra en annen css*/
    overflow: hidden;
}

#hoyre {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    padding: 10px;
}

.memory-game {
    width: 740px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, 
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background:rgb(202, 200, 218); /*må endres senere rebeccapurple*/
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

#neste {
    border: solid black 1px;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 6%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    font-size: medium;
    /*display: none;*/

}

#neste:hover {
    background: rgb(202, 200, 218);
}

a {
    text-decoration: none;
    color: black;
}

#idPoeng {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 10px;
    padding: 10px;
}