body {
    background-color: rebeccapurple;
    margin:0;
}
img {
    display: inline-block;
}
.hspm {
    display: none;
}
#nstspm {
    bottom: 5px;
    right: 5px;
    position: fixed;
}
#frgspm {
    display: none;
    bottom: 5px;
    left: 5px;
    position: fixed;
}

.Menu {
    margin: auto;
    width: 1349px;
    background-color: aqua;
    height: 50px;
}
#Hovedside {
    margin-left: 10px;
    text-decoration: none;
}
.Menus {
    position: relative;
    top: 0;
    display: inline;
    margin-left: 75px;
    cursor: pointer;
    font-size:xx-large;
}
button {
    cursor: pointer;
}

#hoved {
    font-family: "Brush Script MT", "Brush Script";
    font-size: 500%;
    text-align: center;
}
.Cookies {
    background-color: white;
    width: 1260px;
    border: 1px ;
    padding: 10px;
    margin-left: 20px;
    position: fixed;
    bottom: 10px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    z-index: 2;
}
#Vilkår {
    display: none;
    height: 83.594px;
}
#LNavn {
    display: none;
    height: 83.594px;
}
#SeVilkår {
    border-radius: 10px;
    width: 150px;
    height: 29.6px;
}
#AvslåCookies {
    margin-left: 800px;
    border-radius: 10px;
    background-color:blue;
    width: 150px;
    height: 29.6px;
}
#GodtaCookies {
    margin-left: 10px;
    border-radius: 10px;
    background-color: blue;
    width: 150px;
    height: 29.6px;
}
#LagreNavn {
    margin-left: 10px;
}
#TNavn {
    text-align: center;
}
#Tilbake {
    margin-left: 1110px;
    border-radius: 10px;
    width: 150px;
    height: 29.6px;
}
#AvsluttCookies {
    top: 0;
    right: 5px;
    position:absolute;
    cursor: pointer;
}
.MenuL {
    text-decoration: none;
    color: black;
    background-color: aqua;
    border: 0;
    font-size: xx-large;
}
