body {
    background-color: #A0BCC2;
}

#idKalkulator {
    border: solid black 1px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center; /*start*/
    font-family: "Times New Roman", Times, serif;
    background-color: #DAE5D0;
}

input {
    background-color: #FEFBE7;
}
