body {
    background-color: #f0fff7
}
h1 {
    border: solid black 1px;
    border-radius:5px;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color:#f0f1ff;
}

.clDiv {
    border: solid black 1px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: start;
    background-color: #fffff0;
}

img {
    display: inline-block
}
button {
    cursor: pointer;
