body {
    background-color: #f0fff7;
}

.neste {
    border: solid black 1px;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 6%;
    padding: 5px;
    background-color: #fff0f8;
    display: none;
}

ul {
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b9bbdd;
}

li {
    float: left;
    border-right: 1px solid rgb(255, 255, 255);
}

.active {
    background-color: #9c9ecd;
}
#fullfør {
    display: none;
}
li a {
    display: block; 
    color: white;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(75, 75, 75, 0.623);
}

h1 {
    border: solid black 1px;
    border-radius:5px;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: "Lucida Console";
    background-color:#f0f1ff;
}

.clDiv {
    border: solid black 1px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center; /*start*/
    font-family: "Times New Roman", Times, serif;
    background-color: #fffff0;
    display: none;
}

div.a {
    font-size: 20px;
}

img {
    display: inline-block
}
button {
    cursor: pointer;
}