body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
/*
canvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
*/

.banner {
    padding: 10px;
    text-align: center;
    background: #53749b;
    color: rgb(255, 255, 255);
}

#Overskrift {
    /*text-shadow: 4px 2px #333;*/
    font-weight: bolder;
    font-size: 40px;
}

.navbar {
    display: flex;
    background-color: #333;
    position: sticky;
    top: 0;
    box-shadow: 0 10px 5px rgba(18, 19, 19, 0.384);
}

.navbar>a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}

.navbar>a:hover {
    background-color: #ddd;
    color: black;
}

.text {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #333;
}
img{
    width: 540px;
    height: 360px;
}
