.clDiv {
    border-bottom: rgb(207, 5, 243) 3px solid;
    border-top:rgb(97, 85, 99) 1px solid;
    border-left:rgb(97, 85, 99) 1px solid;
    border-right: rgb(97, 85, 99) 1px solid;
    border-radius: 2px;

    width: 90%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(227, 202, 230);
}
h1 {
    text-align: center;
    border-bottom: rgb(124, 79, 184) 3px solid;
    border-top:rgb(97, 85, 99) 1px solid;
    border-left:rgb(97, 85, 99) 1px solid;
    border-right: rgb(97, 85, 99) 1px solid;
    border-radius: 0px;
    
    padding: 10px;
    color: rgb(53, 5, 29);
    background-color: rgb(198, 179, 223);
    
}