#navbar {
    border: black 5px solid;
    border-radius: 5px;
    width: 90px;
    background-color: rgb(184, 181, 181);
    width:max-content;
    position: fixed;
    text-align: center ;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-100px
}

#logo{
    position: fixed;
    border: black 2.5px solid;
    border-radius: 100px;
    font: 10px;
    top: 0;
    right: 0;
    background-color: rgb(181, 180, 180);
    width: 9
    }