body{
    text-align: center;
}
#mittCanvas{
    border: 1px black solid;
}
#hoved{
    display: none;
}
.knapp {
    border-radius: 3px;
    padding: 5px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
    color: rgba(29, 29, 29, 0.92);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;

}
#start {
    display: flex;
    justify-content: center;
}
.center {
    display: flex;
    justify-content: center;
}

.knapp:hover{
    border: 0px;
    background-color:rgb(210, 244, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}