body {
    background-image: url("oppstart/media/fjell.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button{
    background-color: rgb(55, 96, 139);
    margin-top: 10px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 12px;
    font-size: 18px;
}