*{
    padding:0;
    margin:0;
}

#E15spill{
    
    width:1000px;
    height:400px;
    border:1px solid black;
    background-image: url(../E15/spillbilde.jpg);
 
}

#karakter{
    width: 40px;
    height: 100px;
    background-color: rgb(242, 227, 227);
    position: relative;
    top: 300px;
}

.animate{
    animation: jump 500ms;

}

@keyframes jump {
    0%{top: 300px;}
    30%{top:200px;}
    70%{top:200px;}
    100%{top:300px;}
    
}

#block{
    width: 40px;
    height: 40px;
    background-color: rgb(33, 154, 51);
    position: relative;
    top:260px;
    left: 960px; 
    animation: block 1s infinite linear; 
}
 
@keyframes block{
    0%{left:960px;}
    100%{left:-80px;}   
}

* {
    font-family: "Comic Sans MS", sans-serif;
}

body {
    background-color: #28282B;
}


#knapper{
    border: solid black 1px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color:#28282B ;
}

#E15spill{
    border: solid black 1px;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color:#28282B;
}
.kult{
    position: relative;
    background: #393d3a;
    color: #fff;
    border:none;
    outline:none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 50px;
    width: 180px;
    height: 50px;
    margin: pointer;
}        
.kult:first-child:hover{
    background: 
    linear-gradient(90deg,
    #07a7f1,#fa46ac,
    #fae736,#07a7f1);
    background-size: 400%;
}
.kult:last-child:hover{
    background:
    linear-gradient(90deg,
    #07a7f1,#fa46ac,
    #fae736,#07a7f1);
    background-size: 400%;
    
}
.kult:first-child:before,
.kult:last-child:before{
    content:'';
    position: absolute;
    background: inherit;
    top: -5px;
    right:-5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter:blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}
.kult:first-child:hover:before,
.kult:last-child:hover:before{
    opacity: 1;
    z-index: -1;
}
.kult:hover{
    z-index: 1;
    animation: glow 8slinear infinite;
}
@keyframes glow{
    0%{
        background-position: 0%;
    }
    100%{
        background-position:400%;
    }
}