body{
    background-image: url(media/jorden.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-width: 700px;
    align-self: center;
  }

#id_hovdtekst{
    background-color: rgba(128, 128, 128, 0.635);
    border-radius: 20px;
    padding: 20px;
}

#cred_bg{
    position: fixed;
    bottom: 0;
    margin: 10px;
}

.cl_menu_button_flex , #id_hovdtekst{
    margin: auto;
    width: 90%;
}

.cl_velg{
    background-color: rgba(255, 255, 255, 0.667);
}