body{
    margin: 5%;
    margin-bottom: 20%;
    min-width: 600px;
}

button{
    background-image: url("media/border.png");
    background-size: 100% 100%;
    opacity: 100%;
    font-size: 16px;
}

button:hover{
    cursor: pointer;
    opacity: 50%;
}
#id_start_btn{
    margin-top: 10px;
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
}

#id_text{
    padding-top: none;
    padding-bottom: none;
    padding: 1%;
    border:7px solid;
    border-image: url("media/border.png")50;
}

#id_simon{
    margin: auto;
    height: 30%;
    width: 30%;
    background-image: url("media/bg.png");
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
}

#id_tapt, #id_next_level{
    display: none;
    margin: auto;
    text-align: center;
}

#id_fyrverkeri_cred{
    display: block;
    position: fixed;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    bottom: 0;
    font-size: small;
    min-width: 270px;
}

#id_fyrverki{
    display: block;
    position: fixed;
    bottom: 0;
    
}

.cl_grid-container {
    padding: 10%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 47.5% 47.75%;
    column-gap: 5%;
    row-gap: 5%;
}

img{
    width: 95%;
    height: 96%;
    opacity: 85%;
}

h1{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border-bottom:3px solid;
    border-top:3px solid;
    border-image: url(media/border.png) 50;
}

#id_vann{
    display: none;
}

#id_level_txt{
    text-align: center;
}