.BTN
{
    background-color: rgb(55, 96, 139);
    border: none;
    padding: 10px 12px;
    font-size: 18px;
    display: flex;
    justify-content: center;


}
.tekst
{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: rgb(110, 185, 185);

    
}
.parent{
    width: 100;
display: flex;
justify-content: center;
}
body{
    background-color: rgb(178, 239, 233)
    ;
}
.nesteSpill
{
    display: flex;
    justify-content: center;
    background-color: rgb(55, 96, 139);
    border: none;
    padding: 10px 12px;
    font-size: 18px;
  
}
.hei{
    display: flex;
    justify-content: center;
}