*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.banner{
    width: 100%;
    height: 15vh;
}



h1{
    font-weight: normal;
    font-weight: 100;
    text-align: center;
    font-size: 6vh;
}

.cookie_notification{
    width: 50%;
    margin: auto;
    height: auto;
}

@media screen and (min-width: 600px) {

    .project_section{
        width: 80%;
        height: auto;
        margin: auto;
        
    }

    .cookie_notification h3{
        font-size: 3vh;
        text-align: center;
        font-weight: 100;
    }
    
    .cookie_notification input{
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 3vh;
    }

    
    .row{
        display: flex;
        padding: 35px 0;
        align-items: center;
        
    }
    
    .column {
        width: 27%;
        margin: auto;
        padding: 2vh;
        
    
        border-radius: 1vh;
        border: 2.5px;
        border-color: #262626;
        border-style:solid;
        
    
        text-align: center;
    
        transition-duration: 0.3s;
    
    }

    .column h3{
        font-weight:lighter;
        font-size: 3vw;
        padding: 2vh;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
      }


}   @media screen and (max-width: 600px) {

    .project_section{
        width: 100%;
        height: auto;
        margin: auto;
        
    }

    .cookie_notification h1{
        font-size: 6vw;
    }

    .cookie_notification h3{
        font-size: 3vw;
        text-align: center;
        font-weight: 100;
    }
    
    .cookie_notification input{
        width: 100%;
        height: 20%;
        text-align: center;
        font-size: 3vw;
    }

    .column {
        width: 85%;
        margin: auto;
        padding: 2vh;
        
    
        border-radius: 20px;
        border: 2.5px;
        border-color: #262626;
        border-style:solid;
        
    
        text-align: center;
    
        transition-duration: 0.3s;
    
    }

    .column h3{
        font-weight:lighter;
        font-size: 3vh;
        padding: 2vh;
    }
    
    .column:after {
        content: "";
        display: table;
        clear: both;
      }

      .row{
        padding: 35px;
        align-items: center;
        
    }
    
}





.column:hover{
    border-color: #e2e2e2;
    background-color: #e2e2e2;
    cursor: pointer;

}


.column img{
    width: 100%;
    height: 75%;
}

.column p{
    padding: 1vw;
    font-weight: 100;
}

.column h4{
    padding: 1vw;
    font-size: 3vh;
}

  


.tint_screen{
    width: 100%;
    height: 100%;
    display: flex;
}
