.poeng{
    position: fixed;
    border: black 2.5px solid;
    border-radius: 100px;
    top: 0;
    right: 0;
    background-color: rgb(181, 180, 180);
    width: 90px;
    }

body{
    background-color: lightskyblue;
}

button{
    border: black 2.5px solid;
    border-radius: 10px;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: auto;
}

div.knapper {
    border: 2px solid;
    background-color:white;
    width: 50%;
}