body {
  height: 100%;
  overflow: hidden;
    background-color: lightblue;  
  }
  
  html { 
    background: url(bilder/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
  }
  button#enig {
  background-color: rgb(0, 155, 0);
  border-color: black;
   color: black;
   border-radius: 10px; 
   padding: 8px 16px; 
   cursor: pointer;  
   text-align: center;
   font-size: 12px;
   text-align: center;
}

button#uenig {
  background-color: rgb(253, 78, 78);
  border-color: black;
   color: black;
   border-radius: 10px; 
   padding: 8px 16px; 
   cursor: pointer;  
   text-align: center;
   font-size: 12px;
   text-align: center;
}

