html {
    background-color: lightgray;
    padding-top: 3px;
}

body {
    font-family: sans-serif;
    text-align: center;
    margin: auto;

}

h1 {
    background-color: grey;
    border:2px solid black;
    border-radius: 6px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 480px;
    margin-right: 480px;
}

#lengreTekst {
    background-color: grey;
    border:2px solid black;
    border-radius: 6px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 380px;
    margin-right: 380px;
}

#spørsmålbilde {
    border: 3px solid black;
    border-radius: 6px;
}

#bilde {
    background-color: grey;
    padding: 1px;  
    margin-left: 530px;
    margin-right: 530px;
    border: 3px solid black;
    border-radius: 6px;
}

button {
    font-size: 20px;
}

#Neste {
    visibility: hidden;
}

#id3a {
    visibility: visible;
}

#id2a {
    visibility: visible;
}

#id1a {
    visibility: visible;
}

#bilde {
    visibility: hidden;
}

#varsel {
    visibility: visible;
    background-color: grey;
    border: 2px solid black;
    border-radius: 6px;
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 300px;
    margin-right: 300px;
}

#score {
    background-color: turquoise;
    margin-left: 530px;
    margin-right: 530px;
    border: 2px solid black;
    border-radius: 6px;
}

#DetteEr {
    background-color: grey;
    border: 2px solid black;
    border-radius: 6px;
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 400px;
    margin-right: 400px;
}