
:root {
	--color: #0e5d6f46; /* for hover */
	--color-set: #c30165; /* when set */
	--l: 5px; /* definere tykkelsen på X i spillet */
}

body {
	margin: 0;
}


h2{
    font-size: 250%;
    padding: 1px;
	text-align: center;
    }
h3{
	font-size: 150%;
	padding: 1px;
	text-align: center;
	}

.brett {
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)
}

.cell {
	width: 130px;
	height: 130px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}




/* for X */
.brett.x .cell:not(.circle):not(.x):hover {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}

/* for X (set) */
.cell:not(.circle).x {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}

/* for O */
.brett.circle .cell:not(.circle):not(.x):hover {	
	background: radial-gradient(var(--color) 60%, transparent 60%);
}

/* for O (set) */
.cell:not(.x).circle {
	background: radial-gradient(var(--color-set) 60%, transparent 60%);
}

.vinner-melding {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-set);
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 65px;
	font-family: "Book Antiqua";
	flex-direction: column;
}

.vinner-melding button {
	border-radius: 10px;
	font-family: "Book Antiqua";
	font-size: 3rem;
	background-color: white;
	border: 1px solid var(--color-set);
	padding: .25em .5em;
	cursor: pointer;
}

.vinner-melding button:hover {
	background-color: var(--color-set);
	font-family: "Book Antiqua";
	color: white;
	border-color: white;
}

.vinner-melding.show {
	display: flex;
}


#tilbakeTilForsideKnapp{
	display:none
}