h1 {
    margin-left:auto ;
    margin-right: auto  ;
    border: darkseagreen 4px solid;
    border-radius: 20px ;
    padding: 5px;
    color: darkseagreen;
    width: auto;
    background-color: azure;
    text-align: center;
}
.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
  }

h2 {
    text-align: center
}   
button {
    cursor: pointer;
}
.clDiv {
    border: solid darkseagreen 4px;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: azure;
}

.meny{
    position: fixed;
    border: darkseagreen 4px solid;
    border-radius: 20px ;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
    background-color: azure;
}

.startup{
    position:fixed;
    left: 622px;
    border: darkseagreen 3px solid;
    border-radius: 7px ;
    color: black;
    background-color: azure;
}

#poengEnd{
    display: none;
    margin-left:auto ;
    margin-right: auto  ;
    border: darkseagreen 4px solid;
    border-radius: 20px ;
    padding: 5px;
    color:black;
    width: auto;
    background-color: azure;
    text-align: center;
}