*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 84px;
    cursor: pointer;
    margin: 25px 0;
    border-radius: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
nav ul li a:hover{
    color: #ff5ea2;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 70%;
    position: relative;
    margin-left: 10px;
}
.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button{
    width: 145px;
    display: block;
}
button:hover{
    width: 180px;
    display: flex;
    align-items: center;
}
.col-1::after{
    content: '';
    width: 10px;
    height: 100%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.Jacked{
    width: 30%;
    position: right;
    z-index: 1;
    border-radius: 20px;

}
.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff52a2, #ff572a);
    border-radius: 20px  20px;
    height: 100%;
    width: 100%;
}
.banner{
    background: antiquewhite;
    z-index: -2;
}

