body{
    background-color: black;
    color: white;  
}

#id_kalkulator_input{
    width: 80%;
    margin: 2.5% 10% 5% 10%;
}

#id_svar_box{
    width: 40%;
    padding: 2em;
    margin: 0% 0% 30% 30%;
    outline: 1vw;
    outline-style:double;
    text-align: center;
}

#id_funksjonalitet{/* teksten som sier hva kalkulatoren ikke kan gjøre */
    font-size: small;
    position: relative;
    right: -10vw;
    top: -5vw;
}