body{
    width: 60%;
    margin: 50px auto;
    background-image: url(media/Sondre.png);
  }

#hovdtekst{
    background-color: rgba(128, 128, 128, 0.635);
    border-radius: 20px;
    padding: 20px;
}