body{
  min-width: 700px;
}

.cl_velg{
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border: 2px solid black;
}

.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
  outline-width: 1px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
  background-color: lightgray;
  outline-style:solid;
  outline-color: black;
}

.item3 {
  grid-column: 1/span 2;
  grid-row: 2;
  font-size: smaller;
  outline-style:solid;
  outline-color: black;
}

#id_grid_pic{
  width: 9em;
  height:10em;
  object-fit:cover;
}

#grid_video{
  width: 9em;
  height:10em;
  object-fit:cover;
}

#id_antall_fungerende{
  color: white;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  font-size: 16px;

}
#id_fungerer_btn, #id_ødelagt_btn {
  display: inline-block;
  padding: 16px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  border: none;
  transition: color;
  transition-duration: 0.5s;
  cursor: pointer;
}

#id_fungerer_btn:hover, #id_ødelagt_btn:hover {
  display: inline-block;
  padding: 16px;
  background-color: rgb(80, 83, 153);
  color: white;
  font-size: 16px;
  border: none;
  transition: color;
  transition-duration: 0.5s;
  
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px 20px 0px;
}


td {
  border: 1px solid #dddddd;
  text-align: left;
  font-size: small;
  padding: 8px;
}

.navbar{
  background-color: #000000;
  top: 10px;
  position: sticky;
  display: block;
}

#om{
  background-color: #000000;
  position: relative;
  padding: 0.5em 0em 1.5em 0.5em;
  width: 102%;
  left: -8px;
  bottom: -20px;

}

.trykk{
  color: white;
  text-decoration: none;
}

.trykk:hover{
  color: lightblue;
  text-decoration: underline;
  transition: text-decoration 2s;

}

