body {background:linear-gradient(to bottom right, #5cbdb9, white, #fbe3e8) ;}

.navbar {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    position: relative;
    color: #0e5c59;
}

.navbar ul li a{
    color: black;
    text-transform: uppercase;
    text-decoration-line: none;
    font-family: 'Times New Roman', Times, serif;
}

  
  .navbar ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -2;
    left: 0;
    background-color: #0e5c59;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navbar ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .overskrift {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
  }

  .overskrift h1 {
    font-size: 35px;
    color: #0e5c59;
  }

.undertekst {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(2, 200px);
    padding: 10px;
    grid-column-gap: 2%;
    grid-row-gap: 4%; 
    margin-left: 20%;
    margin-right: 20%;
}

.Lag {
    background-color: white;  
    border: 2px solid rgba(0, 0, 0, 0.425);
    padding: 23px;
    font-size: 22px;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
}

.Lag:hover:after {
  font-weight: bold;
}
   
.Lag-1 {
    background-image: url();
    background-position: center;
}
   
.Lag-1:after{
    content:'Arsenal';
    
}
.Lag-1:hover:after{
    content:'The Gunners';
    color: #EF0107;
}

.Lag-2:after{
  content:'Chelsea';
}
.Lag-2:hover:after{
  content:'The blues';
  color: #034694;
}

.Lag-3:after{
  content:'Liverpool';
}
.Lag-3:hover:after{
  content:'The Reds';
  color:#C8102E;
}

.Lag-4:after{
  content:'Manchester City';
}
.Lag-4:hover:after{
  content:'The Cityzens';
  color: #6CABDD;
}

.Lag-5:after{
  content:'Manchester United';
}
.Lag-5:hover:after{
  content:'The Red Devils';
  color: #DA291C;
}

.Lag-6:after{
  content:'Tottenham';
}
.Lag-6:hover:after{
  content:'Spurs';
  color: #132257;
}


   