body {

    background-color: lightblue;
    text-align: center;  
   

}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: rgb(82, 158, 184);
    position: fixed;
    top: 0;
    width: 100%;
}

li a {
        display: block;
        text-align: center;
        width: 60px;
        padding: 8px; 
        /*background-color:#dddddd*/ 
        
      }

li a:hover {
        background-color:rgb(114, 176, 197);

}
li {
    display: inline; 
    float: left;
    border-right: 1px solid white;
}     

a:active {
    background-color: rgb(49, 136, 165);

}
h1 {
    color:white;
    text-align: center;
    border:white 1px solid;
    border-radius: 10px;
    padding: 10px;
}

#idPoeng{                                 
    position: fixed;
    top: 125px;
    right: 8px;
    width: 10%;
    background-color:rgb(232, 232, 206);
    border:rgb(5, 8, 10);
    border-radius: 7px;
    padding: 2px;
}


body {
    border:white 1px solid;
    border-radius: 10px;
    padding: 10px;
}

h2 {
    color: rgb(67, 126, 145);
}