.body {
    background-color:rgb(31, 31, 41);
    text-align: center;
}

.Standard{
    color:rgb(241, 241, 243);
    font-family: 'Caudex', serif;
}

.Brukernavn{
    display: none; 
    text-align: center; 
    padding:230px 0;
}

.SpørsmålCookies{
    display: none; 
    padding:180px 0;
}

.Bilde1{
    position:absolute; 
    top:5px;
    right: 5px;
    border: 5px solid rgb(0, 0, 0);
}

.Bilde2{
    position:absolute; 
    top:5px;
    left: 5px;
    border: 5px solid rgb(0, 0, 0);
}

.Bilde3{
    position:absolute; 
    top:516px;
    left: 5px;
    border: 5px solid rgb(0, 0, 0);
}

.Bilde4{
    position:absolute; 
    top:516px;
    right: 5px;
    border: 5px solid rgb(0, 0, 0);
}

.AvslutteCookies{
    position: fixed; 
    bottom: 5px; 
    right: 5px;
}

.Score{
    display: none; 
    position:fixed;
    padding: 60px 0; 
    left: 110px;
    font-size: 80px; 
    text-align: center; 
    color:rgb(3, 4, 5);
}

.Black{
    color:rgb(7, 7, 7);
}




.Heading{
    margin:auto;
    width: 780px;
    border: 2px;
    border-color: rgb(199, 4, 4);
    background-color: rgb(48, 65, 65);
    border-radius: 15px;
    border-style: solid;
    font-family: 'Black Ops One', cursive;
    -webkit-text-fill-color: rgb(10, 8, 8);
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 0.05px; 
}


.Overskrift{
    position:relative;
    bottom:20px;
}

.HjemKnapp{
    display:inline; 
    position:relative; 
    right: 200px;
    bottom: 10px;
    cursor: pointer;
}

.OmMegKnapp{
    display:inline;
    position:relative;
    bottom: 10px;
    cursor: pointer;
}

.QuizKnapp{
    display:inline; 
    position:relative; 
    left: 200px;
    bottom: 10px;
    cursor: pointer;
}

.Text {
    width: 780px; 
    margin: auto;
    text-align: left;
    color:rgb(241, 241, 243);
    font-family: 'Parisienne', cursive;
}

.PoengSkrift{
    color:rgb(241, 241, 243);
    font-size:20px; 
    margin: 0; 
    position:fixed; 
    top: 10%; 
    transform: translateY(-50%) ; white-space: nowrap;
    font-family: 'Black Ops One', cursive;
}

.TilbakeTilIT1{
    color:rgb(241, 241, 243);
    font-size:20px; 
    margin: 0; 
    position:fixed; 
    top: 10%; 
    transform: translateY(-50%) ; white-space: nowrap;
    font-family: 'Black Ops One', cursive;
}

.SCORE{
    color:rgb(7, 7, 7);
    position:fixed;
    left:5px; top: 55%;
    transform: translateY(-50%); 
    white-space: nowrap; 
    left: 7vw;
}

.TilbakeLink{
    position:fixed; 
    top: 3% ; 
    transform: translateY(-50%) ; 
    white-space: nowrap;
}