.clDiv {
    border: solid black 1px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
}
h1 {
    border: black 1px solid;
    border-radius: 10px;
    padding: 5px;
    color: forestgreen;
    background-color: burlywood;
}
.meny {
    display: inline-block;
    border: solid black 1px;
    padding: 5px;
    background-color: burlywood;
    border-radius: 5px;
    color: forestgreen;
}